Language: Cpp
BasedOnStyle: LLVM

# --- Force Tabs ---
UseTab: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4

# --- Prevent Space Alignment ---
# If these are set to true, clang will use spaces to align brackets/params
AlignAfterOpenBracket: DontAlign
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: false

# --- New Lines ---
MaxEmptyLinesToKeep: 3
# Keeps your function bodies from being squashed into one line
AllowShortFunctionsOnASingleLine: None

# --- Braces & Style ---
ColumnLimit: 0
NamespaceIndentation: All
BreakBeforeBraces: Attach # or Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true