Language: Cpp
BasedOnStyle: LLVM

# --- Force Tabs ---
UseTab: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4

# --- New Lines & Line Length ---
# Set this to a real number. If it is 0, 'AlwaysBreak' is ignored.
ColumnLimit: 0
MaxEmptyLinesToKeep: 3
AllowShortFunctionsOnASingleLine: true
IndentWrappedFunctionNames: true

# --- Bracket & Argument Wrapping ---
# This forces the arguments to stay on their own lines 
# and places the closing ')' on a new line.
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
# This prevents the formatter from pulling the ')' back to the previous line
ContinuationIndentWidth: 4

# --- Prevent Space Alignment ---
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: false
AlignTrailingComments: false

# --- Braces & Style ---
NamespaceIndentation: All
AllowShortEnumsOnASingleLine: false
BreakBeforeBinaryOperators: NonAssignment

BreakBeforeBraces: Attach # Attach or Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true

# --- Switch case ---
IndentCaseLabels: true
IndentCaseBlocks: true