[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
MimeType=inode/directory;
Actions=MoveroPaste;
X-KDE-Priority=TopLevel
X-KDE-Weight=500

[Desktop Action MoveroPaste]
Name=Paste with Movero
Icon=edit-paste

# Debug: Show Output in a Temporary Terminal
# Exec=konsole -e sh -c 'Movero --paste-to "%f"'
# Exec=konsole --hold -e sh -c 'Movero --paste-to "%f"'
# Exec=gnome-terminal -- /bin/bash -c "Movero %f; exec /bin/bash"

# %f passes the current folder path (destination)
Exec=Movero --paste-to %f